{% extends "_base.html" %}
{% block body %}


<ol id="container" >
  {% if not user.is_superuser %}
  <li class="flex flex-col items-center justify-center min-h-[80vh] text-center p-6">
    <div class="max-w-lg w-full bg-white/10 dark:bg-gray-900/20 backdrop-blur-lg border border-white/20 dark:border-gray-700/30 shadow-2xl rounded-2xl p-8">
      
      <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-4">
        Welcome , <span class="text-blue-600 dark:text-blue-400">{{ user.first_name|default:user.username }}</span> 👋
      </h1>
  
      <p class="text-gray-700 dark:text-gray-300 text-lg mb-6">
        Your passwords and environments are <span class="font-semibold text-blue-600 dark:text-blue-400">encrypted</span> and managed with top-tier security. 
        Stay in control with confidence.
      </p>
  
      <a href="https://www.getsetdeployed.com/" target="_blank" 
         class="inline-flex items-center px-6 py-3 text-white bg-gradient-to-r from-blue-500 to-purple-600 rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl">
        Visit Our Main Website
        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" stroke-width="2" 
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" 
                d="M14 9l3 3m0 0l-3 3m3-3H7"></path>
        </svg>
      </a>
    </div>
  </li>
  {% else %}
  <li class="flex flex-col items-center justify-center min-h-[80vh] text-center p-6">
    <div class="max-w-lg w-full bg-white/20 dark:bg-gray-900/40 backdrop-blur-md border border-white/30 dark:border-gray-700/40 shadow-2xl rounded-2xl p-8">
      
      <h1 class="text-4xl font-extrabold text-gray-100 dark:text-white mb-4">
        You are logged into an admin account <span class="text-blue-600 dark:text-blue-400">{{ user.first_name|default:user.username }}</span>
      </h1>
  
      <p class="text-gray-300 dark:text-gray-200 text-lg mb-6">
        As the admin, you're at the helm. Do not mess with the system. With your control, the system runs smoothly and securely.
      </p>
  
      <a href="/admin" 
         class="inline-flex items-center px-6 py-3 text-white bg-gradient-to-r from-blue-500 to-purple-600 rounded-xl shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl">
        Enter Admin Dashboard
        <svg class="w-5 h-5 ml-2" fill="none" stroke="currentColor" stroke-width="2" 
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" 
                d="M14 9l3 3m0 0l-3 3m3-3H7"></path>
        </svg>
      </a>
    </div>
  </li>
  
  {% endif %}  
  
</ol>


<div id="pass_form" class="pt-4  dark:border-neutral-700 hs-dropdown [--trigger:contextmenu] relative z-20"></div>
 


<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
      <button data-popover-target="password-pop" hx-get="{% url "passwords" %}" hx-target="#container" hx-swap="innerHTML"  type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        {% include "svg/pass_svg.html" %}
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Passwords</span>
      </button>

      {% if user.is_superuser %}
      <button data-popover-target="environments-pop" hx-get="{% url "environments" %}" hx-target="#container" hx-swap="innerHTML" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        {% include "svg/env_svg.html" %}
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Environment</span>
      </button>
      {% endif %}

      <button data-popover-target="shared-pop" hx-get="{% url "shared" %}" hx-target="#container" hx-swap="innerHTML" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        {% include "svg/share_svg.html" %}
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Shared</span>
      </button>

      <button data-popover-target="add-pop" hx-get="{% url 'create_password' %}" hx-target="#pass_form" hx-swap="innerHTML" type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
        {% include "svg/new_svg.html" %}
          <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">New</span>
      </button>
  </div>
</div>



<div data-popover id="password-pop" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
      <h3 class="font-semibold text-gray-900 dark:text-white">Passwords Created by you ({{ user.username }})</h3>
  </div>
  <div class="px-3 py-2">
      <p>
        You can view, the passwords that are created and shared by you.
        To edit and change request the admin panel.
      </p>
  </div>
  <div data-popper-arrow></div>
</div>

<div data-popover id="environments-pop" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
      <h3 class="font-semibold text-gray-900 dark:text-white">Environments Created by you ({{ user.username }})</h3>
  </div>
  <div class="px-3 py-2">
      <p>
        You can view, the Environments that are created and shared by you.
        To edit and change the share access log into the admin panel.
      </p>
  </div>
  <div data-popper-arrow></div>
</div>

<div data-popover id="shared-pop" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
      <h3 class="font-semibold text-gray-900 dark:text-white">Shared Passwords and Environments</h3>
  </div>
  <div class="px-3 py-2">
      <p>You can view, passwords and environments that are created and shared by other users or admin with you.</p>
  </div>
  <div data-popper-arrow></div>
</div>

<div data-popover id="add-pop" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
  <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
      <h3 class="font-semibold text-gray-900 dark:text-white">Add a new Password</h3>
  </div>
  <div class="px-3 py-2">
      <p>To change and edit a password or access, request the Admin</p>
  </div>
  <div data-popper-arrow></div>
</div>
{% endblock body %}